@font-face {
    font-family: 'orbitronregular';
    src: url('./font/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
         url('./font/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body { 
    margin: 0; 
    font-family: 'orbitronregular';
    overflow: hidden;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
    z-index: -1;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#nav {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.canvasChange1 {
    margin-left: -45%;
    margin-top: -14.5%;
    transition: 0.5s;
}

.canvasChange2 {
    margin-left: 0%;
    margin-top: 0%;
    transition: 0.5s;
}

#menuIcon {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 10px;
}

.menuChange {
    transform: translate(-321px, 0);
}

#menu {
    position: absolute;
    top: 0%;
    right: -321px;
    color: white;
    height: 100vh;
    background-color: rgba(75,75,75,0.5);
    width: 321px;
    transition: 0.5s;
}

.menuSpacer {
    height: 69px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#menuContent {
    display: grid;
    padding: 20px;
    height: calc(100vh - 140px);
}

.row {
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.row:hover {
    color: gray;
}

.row h1 {
    text-decoration: underline;
}

.container {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}