@font-face {
    font-family: 'orbitronregular';
    src: url('./font/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
         url('./font/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#loading-screen {
	position: absolute;
	z-index: 2;
    opacity: 1;
    transition: z-index 1.5s ease-in, opacity 1s linear;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #555;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    justify-items: center;
}

#loading-screen.fade-out {
    opacity: 0;
    z-index: -2;
}

.water{
    width: 40vw;
    height: 40vw;
    background-color: skyblue;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5), 0 4px 10px 0 rgba(0,0,0,.5);
    overflow: hidden;
}
.water:before, .water:after{
    content:'';
    position: absolute;
    width: 40vw;
    height: 40vw;
    top:-150px;
    background-color: #fff;
}
.water:before{
    border-radius: 45%;
    background:rgba(255,255,255,.7);
    animation:wave 5s linear infinite;
}
.water:after{
    border-radius: 35%;
    background:rgba(255,255,255,.3);
    animation:wave 5s linear infinite;
}
@keyframes wave{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

body { 
    margin: 0; 
    width: 100vw;
    height: 100vh;
    font-family: 'orbitronregular';
    overflow-y: scroll;
    overflow-x: hidden;
    /*overflow: hidden;*/
    color: white;

    cursor: none;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.wtf {
    width: 100%;
    height: 100vh;  
    position: relative;
}

.filled {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.dot {
    width: 20px;
    height: 20px;

    scale: 0;

    -webkit-transition: scale 1s ease-in-out;
    -moz-transition: scale 1s ease-in-out;
    -o-transition: scale 1s ease-in-out;
    transition: scale 1s ease-in-out;

    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

.change {
    scale: 1;
}

.rounded {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
}
  
.pointed {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

.cursor {
    box-shadow: #ababab 1px 0px 10px;
}

#main, .page {
    margin: 0; 
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#main {
    position: fixed;
}

.page {
    z-index: -11;
    opacity: 0;

    pointer-events: none;

    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

#nav {
    position: absolute;
    width: 95%;
    right: 2.5%;
    top: 2.5%;

    text-shadow: #cdcdcd 1px 0px 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    font-size: 1em;
}

#nav .container {
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.navChange {
    color: #555;
}

#intro {
    position: absolute;

    top: 50%;
    width: 90%;

    right: 5%;

    text-align: center;
    text-shadow: #cdcdcd 1px 0px 10px;
    pointer-events: none;
}

#intro #tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#intro h1 {
    font-size: 5vw;
}

#intro h2 {
    font-size: 2vw;
}

/* Code taken from https://unused-css.com/blog/animated-down-arrow/ */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}
  
@keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
@-webkit-keyframes arrow { /*Safari and Chrome*/
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}
  
.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* --- End of Code taken --- */

.activePage {
    z-index: 1;
    opacity: 1;
}

#aboutContent {
    display: flex;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 90%;
}

#aboutContent h1, #aboutContent p {

    text-shadow: #cdcdcd 1px 0px 20px;
}

#mouse {
    position: absolute;
    z-index: 11;
}